html, body, #root {
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  height: 100%;
}

.city {
  padding: 20px 30px;
  margin: 20px auto;
  min-width: 20%;
  color: #ffffff;
  background: #023E8A;
  background: linear-gradient(175deg, rgba(2, 62, 138, 1) 0%, rgba(0, 119, 182, 1) 55%, rgba(0, 150, 199, 1) 100%);
  /*background-color: rgb(103, 150, 222);*/
  border-radius: 5px;
}

.weather-forecast {
  display: flex;
  padding: 15px;
  max-width: 100%;
  column-gap: 20px;
  overflow-x: auto;
}

.weather-forecast span {
  flex: 0 0 auto;
  text-align: center;
}