html,
body,
#root {
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  height: 100%;
}

.city {
  padding: 15px;
  margin: 20px auto;
  min-width: 20%;
  color: #ffffff;
  background: #023e8a;
  background: linear-gradient(
    175deg,
    rgba(2, 62, 138, 1) 0%,
    rgba(0, 119, 182, 1) 55%,
    rgba(0, 150, 199, 1) 100%
  );
  border-radius: 10px;
}

.city-header {
  display: flex;
  justify-content: space-between;
  line-height: 0.5;
  padding-bottom: 10px;
}

.city-temperature {
  font-size: 40px;
  font-weight: normal;
}

.weather-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  font-size: 24px;
  padding-top: 10px;
}

.weather-title img {
  width: 24px;
  height: 24px;
}

.weather-title-temperature {
  display: flex;
  column-gap: 20px;
}

.weather-title-temperature-block {
  display: flex;
  align-items: center;
}

.weather-title-temperature-block p {
  font-weight: bold;
  line-height: 0;
}

.weather-title-condition {
  font-weight: bold;
  line-height: 0;
}

.weather-forecast {
  display: flex;
  max-width: 100%;
  column-gap: 35px;
  overflow-x: auto;
}

.weather-forecast span {
  flex: 0 0 auto;
  text-align: center;
}

.weather-forecast-time {
  color: #dcdcdc;
  font-weight: bold;
}

.weather-forecast-temperature {
  font-weight: bold;
}
